html {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

footer {
    display: block;
}

a {
    background-color: transparent;
}

a:active, a:hover {
    outline-width: 0;
}

b {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

img {
    border-style: none;
}

code {
    font-family: monospace, monospace;
    font-size: 1em;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

body, html {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html {
    overflow-x: hidden;
}

h1 {
    font-size: 30px;
    font-style: italic !important;
    color: #ffffff;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 15px;
    text-align: justify;
}

h2, h3, h4, h5, h6, p {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

hr {
    border: 0;
    border-top: 1px solid #eeeeee;
    margin: 20px 0;
}

img {
    vertical-align: middle;
}

a {
    color: inherit;
}

:disabled * {
    pointer-events: none;
}

.CVJLL-display-container {
    position: relative;
}

.CVJLL-container:after, .CVJLL-container:before, .CVJLL-row-padding:after, .CVJLL-row-padding:before {
    content: "";
    display: table;
    clear: both;
}

.CVJLL-third, .CVJLL-twothird, .CVJLL-whole {
    float: left;
    width: 100%;
}

@media (min-width: 601px) {
    .CVJLL-third {
        width: 33.33333%;
    }

    .CVJLL-twothird {
        width: 66.66666%;
    }

    .CVJLL-whole {
        width: 99.99999%;
    }
}

.CVJLL-content {
    margin-left: auto;
    margin-right: auto;
}

.CVJLL-content {
    max-width: 980px;
}

.CVJLL-round {
    border-radius: 16px;
}

.CVJLL-row-padding, .CVJLL-row-padding > .CVJLL-third, .CVJLL-row-padding > .CVJLL-twothird, .CVJLL-row-padding > .CVJLL-whole {
    padding: 0 8px;
}

.CVJLL-container {
    padding: .01em 16px;
}

.CVJLL-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.CVJLL-opacity {
    opacity: .5;
}

.CVJLL-large {
    font-size: 20px !important;
}

.CVJLL-xxlarge {
    font-size: 36px !important;
}

.CVJLL-left {
    text-align: left !important;
}

.CVJLL-right {
    text-align: right !important;
}

.CVJLL-margin-top {
    margin-top: 16px !important;
}

.CVJLL-margin-bottom {
    margin-bottom: 16px !important;
}

.CVJLL-margin-right {
    margin-right: 16px !important;
}

.CVJLL-padding {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.CVJLL-main-color {
    color: #000000 !important;
    background-color: #ffaf00 !important;
}

.CVJLL-minor-color {
    color: #000000 !important;
    background-color: #3c6fa4 !important;
}

.CVJLL-card-color {
    color: #000000 !important;
    background-color: #eeeeee !important;
}

.CVJLL-backbar-color {
    color: #000000 !important;
    background-color: #d0d0d0 !important;
}

.CVJLL-background-color {
    color: #000000 !important;
    background-color: #333333 !important;
}

.CVJLL-text-main-color {
    color: #ffaf00 !important;
}

.CVJLL-text-white {
    color: #ffffff !important;
}

.CVJLL-text-grey {
    color: #757575 !important;
}
